#app {
    width: 100%;
}
@media only screen and (min-width:1024px) {
    #app-details-toggle {
        display: none !important;
    }
    #bill-list {
        max-width: 400px;
    }
    #app-content {
        transform: none !important;
    }
}
#projectid, #password {
    display: none;
}
#newBillButton {
    margin-top: 10px !important;
}
.balancePositive {
    color: green;
}
.balanceNegative {
    color: red;
}
.balance {
    float: right;
    font-weight: bold;
}
.memberAvatar img {
    width: 24px;
    height: auto;
    border-radius: 50%;
    margin: 10px 6px 10px 0px;
    cursor: pointer;
}
.memberAvatarDisabled .disabledMask {
    display: block;
}
.disabledMask {
    width: 26px;
    height: 26px;
    background-image: url(images/forbidden.svg);
    position: absolute;
    top: 9px;
    left: 38px;
}
.memberAvatar {
    width: 26px;
    height: 44px;
}
.billItemDisabledMask.disabled {
    display: block;
    width: 105%;
    height: 105%;
    background-image: url(images/forbidden.svg);
    margin: -1px 0 0 -1px;
    position: absolute;
}
.billItemRepeatMask.show {
    display: block;
    width: 16px;
    height: 16px;
    background-image: var(--icon-play-next-000);
    margin: 33px 0 0 -4px;
    position: absolute;
}

#settlementTable .owerAvatar,
#statsTable .owerAvatar,
#monthlyTable .owerAvatar {
    height: 24px;
    margin: 1px 5px 1px 5px;
}
#settlementTable .owerAvatarDisabled,
#statsTable .owerAvatarDisabled,
#monthlyTable .owerAvatarDisabled {
    margin-left: -21px;
}
.owerAvatar {
    display: inline-block;
    vertical-align: middle;
}
#settlementTable .owerAvatar img,
#statsTable .owerAvatar img,
#monthlyTable .owerAvatar img {
    margin-bottom: 2px;
}
.owerAvatar img {
    width: 24px;
    height: auto;
    border-radius: 50%;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}
.owerAvatar .disabledMask {
    display: none;
}
.owerAvatarDisabled {
    margin-left: -26px;
}
#settlementTable .owerAvatarDisabled .disabledMask,
#statsTable .owerAvatarDisabled .disabledMask,
#monthlyTable .owerAvatarDisabled .disabledMask {
    top: -1px;
}
.owerAvatarDisabled .disabledMask {
    display: inline-block;
    position: relative;
    top: 1px;
    left: 25px;
}

input[type=number] {
    -moz-appearance: number-input !important;
    -webkit-appearance: initial !important;
}
#monthlyTable,
#categoryTable,
#settlementTable,
#statsTable {
    max-width: 95%;
    margin: 20px auto 20px auto;
}
#monthlyTable,
#categoryTable {
    overflow: scroll;
}
#monthlyTable th,
#categoryTable th,
#settlementTable th,
#statsTable th {
    font-weight: bold;
    text-align: center;
}
#monthlyTable td,
#categoryTable td,
#settlementTable td:last-child,
#statsTable td {
    text-align: right;
    padding-right: 2px;
}
#monthlyTable td:first-child,
#categoryTable td:first-child,
#settlementTable td,
#statsTable td:first-child {
    text-align: left;
}
#categoryTable td:first-child {
    padding: 0px 5px 0px 5px;
}
#settlementTable,
#statsTable,
#categoryTable,
#monthlyTable{
    border-spacing: 2px 2px;
}
#settlementTable th,
#settlementTable td,
#statsTable th,
#categoryTable th,
#monthlyTable th {
    border: 1px solid var(--color-border-dark);
    padding: 0px 5px 0px 5px;
}
#settlementTable th span,
#statsTable th span,
#categoryTable th span,
#monthlyTable th span {
    display: block;
    max-width: 100px;
    word-wrap: break-word;
    white-space: normal;
}
#settlementTitle,
#statsTitle {
    text-align: left;
    padding: 20px 0px 20px 0px;
}
.statTableTitle {
    padding: 0px 0px 0px 20px !important;
}
.undoDeleteBill {
    display: none;
}
#app-settings-content button {
    padding: 10px;
    padding-left: 34px;
    background-position: 10px center;
    width: 100%;
    text-align: left;
}
#bill-list > .deleted {
    background-color: var(--color-background-darker);
}
#app-navigation-toggle {
	border-radius: 50%;
    background-color: var(--color-background-darker);
    opacity: 1 !important;
}
#app-navigation-toggle:hover {
    background-color: var(--color-background-darker);
}
#app-details-toggle {
    position: fixed;
    display: inline-block;
    left: 44px;
    width: 44px;
    height: 44px;
    z-index: 1500;
    background-color: var(--color-background-darker);
    cursor: pointer;
    opacity: 0.6;
    transform: rotate(180deg);
	border-radius: 50%;
}
#billdetail .bill-title {
    padding: 20px 0px 20px 0px;
}
.selectedproject > a ,
.selectedproject > div {
    background: var(--color-background-dark, lightgrey);
}
.selectedproject > a {
    font-weight: bold;
}
.selectedbill {
    background-color: var(--color-background-dark) !important;
}
.app-navigation-entry-share {
    display: none;
}
.shareinput {
    width: 100%;
}
.icon-colorpicker {
	background-image: url('../img/color_picker.svg');
}
.icon-cospend {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/app_black.svg) no-repeat;
    mask-size: 18px auto;
    mask-position: center;
    -webkit-mask: url(images/app_black.svg) no-repeat;
    -webkit-mask-size: 18px auto;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-time {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/time.svg) no-repeat;
    mask-size: 18px auto;
    mask-position: center;
    -webkit-mask: url(images/time.svg) no-repeat;
    -webkit-mask-size: 18px auto;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-schedule {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/schedule.svg) no-repeat;
    mask-size: 16px auto;
    mask-position: center;
    -webkit-mask: url(images/schedule.svg) no-repeat;
    -webkit-mask-size: 16px auto;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-currencies {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/currency.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/currency.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-palette {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/palette.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/palette.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-reimburse {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/reimburse.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/reimburse.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
.icon-save {
    background-color: var(--color-main-text);
    padding: 0 !important;
    mask: url(images/save.svg) no-repeat;
    mask-size: 18px 18px;
    mask-position: center;
    -webkit-mask: url(images/save.svg) no-repeat;
    -webkit-mask-size: 18px 18px;
    -webkit-mask-position: center;
    min-width: 44px !important;
    min-height: 44px !important;
}
#settlementTitle .icon-reimburse,
#billdetail .icon-cospend,
#billdetail .icon-time,
#billdetail .icon-currencies {
    min-width: 23px !important;
    min-height: 23px !important;
    vertical-align: middle;
}
.icon-shar {
    background-color: var(--color-main-text) !important;
    mask: url(images/shar.svg) no-repeat;
    mask-size: 16px 16px;
    mask-position: center;
    -webkit-mask: url(images/shar.svg) no-repeat;
    -webkit-mask-size: 16px 16px;
    -webkit-mask-position: center;
}
.loading-bill {
    margin-left: 10px;
    margin-right: 10px;
}
#billdetail h2 span[class^=icon-] {
    display: inline-block;
    width: 30px;
}

.activeButton {
    background: var(--color-background-darker);
}
.memberitem > a {
    opacity: 1 !important;
}
.totalPayedText {
    margin: 0px 20px 0px 20px;
}
.autoexportSelect {
    width: 40%;
}
.autoexportLabel {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.autoexportProject {
    display: flex !important;
    align-items: center !important;
}
a.billitem .app-content-list-item-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exportStats span,
.exportSettlement span {
    min-height: 16px !important;
    min-width: 16px !important;
}
/* this is not applied if done in a vue component */
.memberColorPicker .trigger {
    height: 25px !important;
}
.copyLinkButton button,
.addLinkButton button,
.detailButton button {
    padding-right: 0 !important;
}
.share-icon-circle {
    background-image: var(--icon-circles-circles-000);
    background-size: 80% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
/* dirty hack to make things right in settings sidebar */
.multiselect__content-wrapper {
    z-index: 10000 !important;
}

/* .popover__wrapper {
    position: relative;
    top: -10px;
} */
// fade transition
.fade {
	&-enter {
		opacity: 0;
	}
	&-enter-to {
		opacity: 1;
	}
	&-leave {
		opacity: 1;
	}
	&-leave-to {
		opacity: 0;
	}
	&-enter-active,
	&-leave-active {
		transition: all 150ms ease-in-out;
	}
}

.slide-right-leave-active,
.slide-right-enter-active {
	transition-duration: var(--animation-quick);
	transition-property: min-width, max-width;
}

.slide-right-enter-to,
.slide-right-leave {
	min-width: 300px;
	max-width: 500px;
}

.slide-right-enter,
.slide-right-leave-to {
	min-width: 0 !important;
	max-width: 0 !important;
}

.slide-down-leave-active,
.slide-down-enter-active {
	transition-duration: var(--animation-quick);
	transition-property: min-height, max-height;
}

.slide-down-enter-to,
.slide-down-leave {
	min-height: 300px;
	max-height: 500px;
}

.slide-down-enter,
.slide-down-leave-to {
	min-height: 0 !important;
	max-height: 0 !important;
}